<h1>Editing compani</h1>

<%= render "form", compani: @compani %>

<br>

<div>
  <%= link_to "Show this compani", [:admin, @compani] %> |
  <%= link_to "Back to companis", admin_companis_path %>
</div>
